@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 150px;
}
.skillContainer__text{
   flex: 0.6;
    color: white;
    text-align: left;
    max-width:500px;
    margin-bottom: 20px;
}
.skillContainer__text > h2 {
    font-size: 30px;

}
.skillContainer__image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}
.skillContainer__image > img{
    width: 450px;
    border-radius: 3px;
    object-fit:contain;

}
.skillContainer__skillSet > h5 {
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
}
.skillContainer__slider > .MuiLinearProgress-colorPrimary{
 background-color: rgb(red, green, blue);

}
.skillContainer__slider1 > div > .MuiLinearProgress-barColorPrimary{
    background-color: rgba(156, 26, 3)
}
.skillContainer__slider2 > div > .MuiLinearProgress-barColorPrimary{
    background-color: rgba(255, 145, 0)
}
.skillContainer__slider3> div > .MuiLinearProgress-barColorPrimary{
    background-color: rgba(20, 213, 0)
}
.skillContainer__slider4 > div > .MuiLinearProgress-barColorPrimary{
    background-color: rgba(136, 146, 0)
}
